.header{
  background-color: rgb(0, 173, 239);
  border-bottom: 1px solid rgb(179, 179, 179);
}
.middle1{
  background-color: rgb(238, 237, 235);
  padding: 0px !important
}
.middle2{
  border-left: 1px solid rgb(179, 179, 179);
}
.footer{
  border-top: 1px solid rgb(179, 179, 179);
}
